<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shring-to-fit=no">

	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/jquery-ui-1.12.1/jquery-ui.min.css') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>
<body>

	<div class="container">

		<ul class="nav">
			{%- block tabs %}{% endblock %}
		</ul>

		{%- for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
		{% endfor -%}

		<h1>{{ self.title() }}</h1>

		{% block content %}{% endblock %}

	</div>

	<script src="{{ url_for('static', filename='vendor/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>

	{% block scripts %}{% endblock %}

</body>
</html>