{% extends "_base.html" %}
{% from "_macros.html" import nav %}


{% block title %}Leads{% endblock %}


{% block tabs %}{{ nav(active=1) }}{% endblock %}


{% block content %}

<h1>Leads</h1>

<div class="leads-add">
	<p><a href="{{ url_for('leads.add') }}">Add</a></p>
</div>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Id</th>
			<th>Name</th>
			<th>Company</th>
			<th>Phone</th>
			<th>Email</th>
		</tr>
	</thead>
{% for lead in leads %}
<tr>
	<td class="lead-actions"><a href="{{ url_for('touches.for_lead', lead_id=lead.id) }}">Touch</a></td>
	<td class="lead-id">{{ lead.id }}</td>
	<td class="lead-name">{{ lead.name }}</td>
	<td class="lead-company">{{ lead.company }}</td>
	<td class="lead-phone">{{ lead.phone }}</td>
	<td class="lead-email">{{ lead.email }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
