{% extends "_base.html" %}
{% from "_macros.html" import svg_triangle_a %}


{% block title %}Leads{% endblock %}


{% block tabs %}

<li class="nav-item">
	<a class="nav-link" href="{{ url_for('leads.index') }}">Leads</a>
</li>

<li class="nav-item">
	<a class="nav-link disabled" href="{{ url_for('touches.index') }}">Touches</a>
</li>

{% endblock %}


{% block content %}

<h1>Touches</h1>

<div class="touches-add">
	<p><a href="{{ url_for('touches.add') }}">Add</a></p>
</div>

{% if touches|length %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="touch-lead_id">Lead-Id</th>
			<th class="touch-date">
				<span>
					{% if dates_order == 'descending' %}

					{{ svg_triangle_a(url=url_for('touches.index')) }}
					{{ svg_triangle_a(flipped=True, active=True) }}

					{% else %}

					{{ svg_triangle_a(active=True) }}
					{{ svg_triangle_a(flipped=True, url=url_for('touches.index', dates_order='descending')) }}

					{% endif %}
				</span>
				Date
				<span class="touch-date-actions float-right">
					<a>UTC</a> | <a href="">Local</a>
				</span>
			</th>
			<th class="touch-description">Description</th>
		</tr>
	</thead>
{% for touch in touches|date_ordered(dates_order == 'descending') %}
<tr>
	<td class="touch-lead_id">{{ touch.lead_id }}
		<span class="touch-lead_id-actions float-right">
			<a href="{{ url_for('touches.for_lead', lead_id=touch.lead_id) }}">View</a>
		</span>
	</td>
	<td class="touch-date">{{ touch.date|dateform }}</td>
	<td class="touch-description">{{ touch.description }}</td>
</tr>
{% endfor %}
</table>
{% else %}
No touches yet.
{% endif %}

{% endblock %}
