{% extends "_base.html" %}
{% from "_macros.html" import nav, date_sorting_buttons, date_timezone_buttons %}


{% block title %}Leads{% endblock %}


{% block tabs %}{{ nav(active=2) }}{% endblock %}


{% block content %}

<h1>Touches</h1>

<div class="touches-add">
	<p><a href="{{ url_for('touches.add') }}">Add</a></p>
</div>

{% if touches|length %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="touch-lead_id">Lead-Id</th>
			<th class="touch-date">
				<span>{{ date_sorting_buttons('touches.index', dates_order=dates_order) }}</span>
				Date
				<span class="touch-timezone-buttons float-right">
					{{ date_timezone_buttons('touches.index', dates_tz=dates_tz) }}
				</span>
			</th>
			<th class="touch-description">Description</th>
		</tr>
	</thead>
{% for touch in touches|date_ordered(dates_order) %}
<tr>
	<td class="touch-lead_id">{{ touch.lead_id }}
		<span class="touch-lead_id-actions float-right">
			<a href="{{ url_for('touches.for_lead', lead_id=touch.lead_id) }}">View</a>
		</span>
	</td>
	<td class="touch-date">{{ touch.date|datezone(dates_tz)|dateform() }}</td>
	<td class="touch-description">{{ touch.description }}</td>
</tr>
{% endfor %}
</table>
{% else %}
No touches yet.
{% endif %}

{% endblock %}
