{% extends "_base.html" %}
{% from "_macros.html" import nav, date_sorting_buttons %}


{% block title %}Touches for Lead #{{ lead.id }}{% endblock %}


{% block tabs %}{{ nav() }}{% endblock %}


{% block content %}

<h1>Touches (for Lead #{{ lead.id }})</h1>

<div>{{ lead }}</div>

<div class="touches-add">
	<p><a href="{{ url_for('touches.add_for_lead', id=lead.id) }}">Add</a></p>
</div>

{% if touches|length %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="touch-date">
				<span>{{ date_sorting_buttons(dates_order, 'touches.for_lead', lead_id=lead.id) }}</span>
				Date
				<span class="touch-date-actions float-right">
					<a>UTC</a> | <a href="">Local</a>
				</span>
			</th>
			<th class="touch-description">Description</th>
		</tr>
	</thead>
{% for touch in touches|date_ordered(dates_order == 'descending') %}
<tr>
	<td class="touch-date">{{ touch.date|dateform }}</td>
	<td class="touch-description">{{ touch.description }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<div>No touches yet.</div>
{% endif %}

{% endblock %}
