{% extends "_base.html" %}
{% from "_macros.html" import nav, lead_info, date_sorting_buttons, date_timezone_buttons %}


{% block title %}Touches for Lead #{{ lead.id }}{% endblock %}


{% block tabs %}{{ nav() }}{% endblock %}


{% block content %}

{{ lead_info(lead) }}

<div class="touches-add">
	<p><a href="{{ url_for('touches.add_for_lead', id=lead.id) }}">Add</a></p>
</div>

{% if touches|length %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="touch-date">
				<span>{{ date_sorting_buttons('touches.for_lead', lead_id=lead.id, dates_order=dates_order) }}</span>
				Date
				<span class="touch-timezone-buttons float-right">{{ date_timezone_buttons('touches.for_lead', lead_id=lead.id, dates_tz=dates_tz) }}</span>
			</th>
			<th class="touch-description">Description</th>
		</tr>
	</thead>
{% for touch in touches|date_ordered(dates_order) %}
<tr>
	<td class="touch-date">{{ touch.date|datezone(dates_tz)|dateform() }}</td>
	<td class="touch-description">{{ touch.description }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<div>No touches yet.</div>
{% endif %}

{% endblock %}
