{% extends "base.html" %}


{% block title %}Leads / Add{% endblock %}


{% block tabs %}

<li class="nav-item">
	<a class="nav-link" href="{{ url_for('leads.index') }}">Leads</a>
</li>

<li class="nav-item">
	<a class="nav-link" href="{{ url_for('touches.index') }}">Touches</a>
</li>

{% endblock %}


{% macro input(field) -%}
{{ field.label }}: {{ field(class="form-control") }}
{%- endmacro %}

{% block content %}

<h1>Add Lead</h1>

<form class="form" action="{{ url_for('leads.add') }}" method="POST">
{{ form.hidden_tag() }}
{{ input(form.name) }}
{{ input(form.company) }}
{{ input(form.phone) }}
{{ input(form.email) }}
<hr>
{{ form.submit }}
</form>

{% endblock %}
