{% extends "base.html" %}


{% block title %}Leads{% endblock %}


{% block tabs %}

<li class="nav-item">
	<a class="nav-link disabled" href="{{ url_for('leads.index') }}">Leads</a>
</li>

<li class="nav-item">
	<a class="nav-link" href="{{ url_for('touches.index') }}">Touches</a>
</li>

{% endblock %}


{% block content %}

<h1>Leads</h1>

<div class="leads-add">
	<p><a href="{{ url_for('leads.add') }}">Add</a></p>
</div>

<table class="table table-bordered table-hover">
	<thead>
	</thead>
{% for lead in leads %}
<tr>
	<td class="name">{{ lead.id }}</td>
	<td class="name">{{ lead.name }}</td>
	<td class="company">{{ lead.company }}</td>
	<td class="phone">{{ lead.phone }}</td>
	<td class="email">{{ lead.email }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
