{% extends "_base.html" %}
{% from "_macros.html" import svg_triangle_a %}


{% block title %}Touches for Lead #{{ lead.id }}{% endblock %}


{% block tabs %}

<li class="nav-item">
	<a class="nav-link" href="{{ url_for('leads.index') }}">Leads</a>
</li>

<li class="nav-item">
	<a class="nav-link" href="{{ url_for('touches.index') }}">Touches</a>
</li>

{% endblock %}


{% block content %}

<h1>Touches (for Lead #{{ lead.id }})</h1>

<div>{{ lead }}</div>

<div class="touches-add">
	<p><a href="{{ url_for('touches.add_for_lead', id=lead.id) }}">Add</a></p>
</div>

{% if touches|length %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="touch-date">
				<span>
					{% if dates_order == 'descending' %}

					{{ svg_triangle_a(url=url_for('touches.for_lead', lead_id=lead.id)) }}
					{{ svg_triangle_a(flipped=True, active=True) }}

					{% else %}

					{{ svg_triangle_a(active=True) }}
					{{ svg_triangle_a(flipped=True, url=url_for('touches.for_lead', lead_id=lead.id, dates_order='descending')) }}

					{% endif %}
				</span>
				Date
				<span class="touch-date-actions float-right">
					<a>UTC</a> | <a href="">Local</a>
				</span>
			</th>
			<th class="touch-description">Description</th>
		</tr>
	</thead>
{% for touch in touches|date_ordered(dates_order == 'descending') %}
<tr>
	<td class="touch-date">{{ touch.date|dateform }}</td>
	<td class="touch-description">{{ touch.description }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<div>No touches yet.</div>
{% endif %}

{% endblock %}
