{% extends "base.html" %}

{% block title %}Leads / Add{% endblock %}

{% block content %}

<h1>Add Lead</h1>

<div class="form-wrapper">
<form action="{{ url_for('leads.add') }}" method="POST">
{{ form.hidden_tag() }}
<div class="form-field">{{ form.name.label }}: {{ form.name }}</div>
<div class="form-field">{{ form.company.label }}: {{ form.company }}</div>
<div class="form-field">{{ form.phone.label }}: {{ form.phone }}</div>
<div class="form-field">{{ form.email.label }}: {{ form.email }}</div>
{{ form.submit }}
</form>
</div>

{% endblock %}
