.touch-date-actions {
	color: lightgrey;
	font-weight: normal;
}

.touch-date-actions a[href] {
	color: grey;
	font-weight: normal;
}

th.touch-date,
th.lead-date {
	width: 12em;
}

th.touch-lead_id {
	width: 6em;
}
