
.touch-date-actions {
	color: lightgrey;
	font-weight: normal;
}

.touch-date-actions a[href] {
	color: grey;
	font-weight: normal;
}

th.touch-date,
th.lead-date {
	width: 12em;
}

th.touch-lead_id {
	width: 6em;
}

.svg-triangle {
	stroke-width: 2;
	stroke: black;
	fill: none;
}

.svg-triangle-active {
	stroke-width: 2;
	stroke: black;
	fill: black;
}

.svg-triangle:hover {
	stroke-width: 2;
	stroke: blue;
	fill: blue;
}
